body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Cera Pro Light';
  src: url("./assets/fonts/CeraPro-Light.ttf");
}

@font-face {
  font-family: 'Cera Pro Bold';
  src: url("./assets/fonts/CeraPro-Bold.ttf");
}

@font-face {
  font-family: 'Windows Regular';
  src: url('./assets/fonts/Windows-Regular.ttf');
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');;
}

a {
  text-decoration: none;
  
}